body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-btn-primary {
  margin: 0 1em 1em 1em;
  background: #066FBD;
  border: #001529;
  font-weight: bold;
  color: #FFCB00;
  &:hover {
    color: #FFCB00;
    background: adjust-color(#066FBD, $lightness: 5%);
  }
  &:focus {
    color: #FFCB00;
    background: #066FBD;
    border: #001529;
  }
}
